<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Homepage of flask</title>
  </head>
  <body>
    <a href="/submit">Submit new post</a>
    <ul>
      {% for item in home %}
      <li><a href="/up/{{ item.id }}">/\</a> {{ item.score }} <a href="/down/{{ item.id }}">\/</a> <a href={{ item.link }}>{{ item.link }}</a></li>
      {% endfor %}
    </ul>
  </body>
</html>
